.resources-list-filter-container {
  margin-bottom: 20px;
}

@media (min-width: 992px) {
  .resources-list-filter-container {
	max-width: 33%;
  }
}

.resource-list .highlight {
  background-color: yellow;
}

.paginationjs {
  margin-bottom: 30px;
}
