{% raw %}
<script type="text/template" id="resources-list-template">
{{#resources}}
  <li class="resource-item" data-id="{{ id }}">
    <a class="heading" href="{{ url }}" title="{{ name }}">
      {{{name}}}<span class="format-label" property="dc:format" data-format="{{ format.lower() or 'data' }}">{{{ format }}}</span>
    </a>
      <p class="description">
          {{{ description }}}
      </p>
    <div class="dropdown btn-group">
      <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-share"></i>
        Explore
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="{{ url }}">
              <i class="fa fa-bar-chart-o"></i>
              Preview
          </a>
        </li>
        <li>
          <a href="{{ url }}" class="resource-url-analytics" target="_blank">
              <i class="fa fa-arrow-circle-o-down"></i>
              Download
          </a>
        </li>
        <li>
          <a href="{{ url }}">
            <i class="fa fa-pencil-square-o"></i>
            Edit
          </a>
        </li>
      </ul>
    </div>
  </li>

{{/resources}}
</script>
{% endraw %}
