{% ckan_extends %}

{% block resource_list %}
  {% if resources|length > 5 %}
  HOLALALA
    <form class="simple-input">
     <div class="resources-list-filter-container field" >
        <input type="text" placeholder="Filter resources" class="form-control" id="resources-list-filter"/>
        <button class="btn-search" type="submit"><i class="fa fa-search"></i></button>
      </div>
    </form>
    <ul class="resource-list" data-module="resources-list" data-module-resources="{{ h.dump_json(resources) }}">
    </ul>

    {% include 'package/snippets/resources_list_template.html' %}
  {% else %}
    {{ super() }}
  {% endif %}

  {% resource 'resourcesfilter/resources-list' %}
{% endblock %}
